<footer class="mt-5">
    <div class="contact my-5">
        <div class="mx-5">
            <h3>Тема</h3>
            <ul>
                <li><a href="#">Ссылка куда-то</a></li>
                <li><a href="#">Ссылка куда-то</a></li>
                <li><a href="#">Ссылка куда-то</a></li>
                <li><a href="#">Ссылка куда-то</a></li>
                <li><a href="#">Ссылка куда-то</a></li>
            </ul>
        </div>
        <div class="mx-5">
            <h3>Контакты</h3>
            <ul>
                <li><a href="#">Ссылка куда-то</a></li>
                <li><a href="#">Ссылка куда-то</a></li>
                <li><a href="#">Ссылка куда-то</a></li>
                <li><a href="#">Ссылка куда-то</a></li>
                <li><a href="#">Ссылка куда-то</a></li>
            </ul>
        </div>
        <div class="mx-5">
            <h3>О компании</h3>
            <ul>
                <li><a href="#">Ссылка куда-то</a></li>
                <li><a href="#">Ссылка куда-то</a></li>
                <li><a href="#">Ссылка куда-то</a></li>
            </ul>
        </div>
        <div class="mx-5">
            <h3>Книга жалоб и предложений</h3>
            <ul>
                <li><a href="#">Ссылка куда-то</a></li>
                <li><a href="#">Ссылка куда-то</a></li>
                <li><a href="#">Ссылка куда-то</a></li>
                <li><a href="#">Ссылка куда-то</a></li>
                <li><a href="#">Ссылка куда-то</a></li>
            </ul>
        </div>
    </div>
</footer>