{% extends 'shop_main/base.html'%}
{%load static%}
{%block content%}
    <div class="img-container">
        <img src="{%static 'shop_main/images/banner.jpg' %}" alt="">
    </div>
    <div class="container popular-categories mt-5">
        <h2>Популярные категории</h2>
        <div class="container row col-12 mt-3">
            <div class="col-2">
                <h5>Процессоры</h5>
                <a href="#"><img src="{%static 'shop_main/images/cpu.png'%}" alt=""></a>
            </div>
            <div class="col-2">
                <h5>Процессоры</h5>
                <a href="#"><img src="{%static 'shop_main/images/cpu.png'%}" alt=""></a>
            </div>
            <div class="col-2">
                <h5>Процессоры</h5>
                <a href="#"><img src="{%static 'shop_main/images/cpu.png'%}" alt=""></a>
            </div>
            <div class="col-2">
                <h5>Процессоры</h5>
                <a href="#"><img src="{%static 'shop_main/images/cpu.png'%}" alt=""></a>
            </div>
            <div class="col-2">
                <h5>Процессоры</h5>
                <a href="#"><img src="{%static 'shop_main/images/cpu.png'%}" alt=""></a>
            </div>
            <div class="col-2">
                <h5>Процессоры</h5>
                <a href="#"><img src="{%static 'shop_main/images/cpu.png'%}" alt=""></a>
            </div>
        </div>
    </div>
    <div class="container popular-products mt-5">
        <h2>Хиты продаж</h2>
        <div class="container row col-12 mt-3">
            <div class="col-2">
                <h5>Процессор Intel Core I7</h5>
                <a href="#"><img src="{%static 'shop_main/images/cpu_color.png'%}" alt=""></a>
                <p>Цена: 27399</p>
            </div>
            <div class="col-2">
                <h5>Процессор Intel Core I7</h5>
                <a href="#"><img src="{%static 'shop_main/images/cpu_color.png'%}" alt=""></a>
                <p>Цена: 27399</p>
            </div>
            <div class="col-2">
                <h5>Процессор Intel Core I7</h5>
                <a href="#"><img src="{%static 'shop_main/images/cpu_color.png'%}" alt=""></a>
                <p>Цена: 27399</p>
            </div>
            <div class="col-2">
                <h5>Процессор Intel Core I7</h5>
                <a href="#"><img src="{%static 'shop_main/images/cpu_color.png'%}" alt=""></a>
                <p>Цена: 27399</p>
            </div>
            <div class="col-2">
                <h5>Процессор Intel Core I7</h5>
                <a href="#"><img src="{%static 'shop_main/images/cpu_color.png'%}" alt=""></a>
                <p>Цена: 27399</p>
            </div>
            <div class="col-2">
                <h5>Процессор Intel Core I7</h5>
                <a href="#"><img src="{%static 'shop_main/images/cpu_color.png'%}" alt=""></a>
                <p>Цена: 27399</p>
            </div>
        </div>
    </div>
{%endblock%}