<div class="column col-9 p-0"> <!-- товары -->
    {%if products %}
    {%include 'shop_main/sort_form.html'%}
    {% for product in products %}
     <div class="row mt-3">
         <div class="col-3 p-2">
             <img src="{{product.image.url}}" alt="">
         </div>
         <div class="col-9">
             <h4><a href="{{product.get_absolute_url}}">{{product.name}}</a></h4>
             <p>{{product.description|truncatewords:20}}</p>
             <p class="price">{{product.price}} ₽</p>
             <button>В корзину</button>
         </div>
     </div>
    {%endfor%}
    {%else%}
    <h2>Совпадений не найдено :(</h2>
    {%endif%}
    {%include 'shop_main/pagination.html'%}
</div>